[Unit]
Description=System Introspection Service - Normalized D-Bus Tree
Documentation=https://github.com/repr0bated/nm-monitor
After=dbus.service ovsdb-server.service systemd-networkd.service

[Service]
Type=dbus
BusName=org.system.introspection
ExecStart=/usr/local/bin/system-introspection
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
